$border-color:    #181a1d;
$font-arial:        Arial, sans-serif;
$font-ubuntu:       'Ubuntu', sans-serif;

// SASS SETTINGS

$grid-columns:      12;
$grid-gutter-width: 40px;

$grid-breakpoints: (
  // Extra small screen / phone
  xs: 0,
  // Small screen / phone
  sm: 420px,
  // Medium screen / tablet
  md: 560px,
  // Large screen / desktop
  lg: 960px,
  // Extra large screen / wide desktop
  xl: 1200px
);

$container-max-widths: (
  sm: 420px,
  md: 560px,
  lg: 960px,
  xl: 1240px
);